{% if SITE_BG_IMG and S_CHI_ENABLED %}
<style type="text/css">
.headerbar {
	background:url("{{ SITE_BG_IMG }}") no-repeat;
	background-size: cover;
}
</style>
{% endif %}

{% if SITE_LOGO_IMG and S_CHI_ENABLED %}
<style type="text/css">
span.site_logo {
	background:url("{{ SITE_LOGO_IMG }}") no-repeat;
	background-position: 0% 0%;
	max-width: 100%;
	width: {{ CHI_WIDTH_SET }}px;
	height: {{ CHI_HEIGHT_SET }}px;
}

@media only screen and (max-width: 750px), only screen and (max-device-width: 750px) {
	span.site_logo {
		background:url("{{ SITE_LOGO_IMG }}") no-repeat;
		background-position: 0% 0%;
		max-width: 100%;
		background-size: 80%;
		background-position: center center;
	}

	.headerbar {
		 height: 52px !important;
	}

	.logo {
		display: contents;
		float: none;
		padding: 10px;
	}

	.site-description h1, .site-description p {
		display: none;
	}

	.site-description p, .search-header {
		display: none;
	}
}

@media only screen and (max-width: 850px), only screen and (max-device-width: 850px) {
	span.site_logo {
		background:url("{{ SITE_LOGO_IMG }}") no-repeat;
		background-position: 0% 0%;
		max-width: 100%;
		background-size: 80%;
		background-position: center center;
	}

	.site-description h1, .site-description p {
		display: none;
	}

	.headerbar {
		 height: 52px !important;
	}

	.site-description p, .search-header {
		display: none;
	}
}
</style>
{% endif %}